$warning-bg-color: #fff3cd;
$warning-border-color: #ffeeba;
$warning-font-color: #856404;
$success-bg-color: #d4edda;
$success-border-color: #c3e6cb;
$success-font-color: #155724;
$info-bg-color: #d1ecf1;
$info-border-color: #bee5eb;
$info-font-color: #0c5460;
$danger-bg-color: #f8d7da;
$danger-border-color: #f5c6cb;
$danger-font-color: #721c24;
$primary-bg-color: #cce5ff;
$primary-border-color: #b8daff;
$primary-font-color: #004085;
$secondary-bg-color: #e2e3e5;
$secondary-border-color: #d6d8db;
$secondary-font-color: #383d41;
$dark-bg-color: #d6d8d9;
$dark-border-color: #c6c8ca;
$dark-font-color: #1b1e21;
$light-bg-color: #fefefe;
$light-border-color: #fdfdfe;
$light-font-color: #818182;